<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Livro</title>
    <!-- Adicione seu link para o CSS aqui -->
</head>
<body>
    {% block content %}
        <h1>Adicionar Livro</h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Adicionar Livro</button>
        </form>
    {% endblock %}
</body>
</html>
