<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Livro</title>
</head>
<body>
    {% block content %}
        <h1>Detalhes do Livro</h1>
        <h2>{{ livro.titulo }}</h2>
        <p>Autor: {{ livro.autor.nome }}</p>
        <p>Ano de Publicação: {{ livro.ano_publicacao }}</p>
        <p>Avaliação: {{ livro.avaliacao }}</p>  
    {% endblock %}
    <!-- Adicione outros campos do livro conforme necessário -->
</body>
</html>


